input[type=checkbox].hider {
   position: absolute;
   
   left: -9999px;
}
.label-show { 
  -webkit-appearance: push-button;
  -moz-appearance: button; 
  display: inline-block;
  /*margin: 60px 0 10px 0;*/
  cursor: pointer;
}
input[type=checkbox].hider + form{display:none;}
input[type=checkbox].hider:checked + form{display:block;}

.loadit{
opacity:0;
transition:0.5s;
}

.half-team{
	width:45%;display:inline-block;border-right:1px solid gray;overflow:hidden;float:left;padding:5px;
}