# JS and CSS minified files that can be recreated
data/assets/*
data/js/cache/*
data/css/cache/*

# We prevent sensitive data from ending up in our repo by ignoring these files
protected/config/mode.php
protected/config/local.php

# Yii temp files we don't want to be bothered about

protected/data/*.db
protected/tests/report/*

assets
yii
wordpress/wp-admin
wordpress/wp-includes
wordpress/wp-content/upgrade
wordpress/wp-content/uploads/2017/07
protected/runtime

(?i)**application.log
(?i)**application.log1
(?i)**application.log2
(?i)**application.log3
(?i)**application.log4
(?i)**application.log5
*.log
protected/runtime/application.log.5
protected/runtime/application.log.3
protected/runtime/application.log
*.1
protected/runtime/application.log.1
protected/runtime/application.log.1
*.3